<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			{{ page.head_content }}
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/" {% if page.url == "/" %}class="current"{% endif %}>Home</a></li>
					<li><a href="/me"{% if page.url == "/me/" %}class="current"{% endif %}>My life</a></li>
	        		<li><a href="/cv"{% if page.url == "/cv/" %}class="current"{% endif %}>Curriculum</a></li>
					<li><a href="/post"{% if page.url == "/post/" %}class="current"{% endif %}>Posts</a></li>
					<li><a href="/contacts"{% if page.url == "/contacts/" %}class="current"{% endif %}>Contacts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul2>
					<a>space for footer stuff</a>
	        		<li><a href="mailto:gabelovsky@gmail.com">email</a></li>
	        		<li><a href="https://github.com/gabelovsky">github.com</a></li>
				</ul2>
			</footer>
		</body>
	</html>
  
