<!DOCTYPE html>
<html>
<head>
		<title>{{ page.title }}</title>
		{% if page.styles == null %}
			<link rel="stylesheet" href="/css/main.css">
		{% else %}
		{% for style in page.styles %}
			{% if style contains "http" %}
				<link rel="stylesheet" href={{style}}>
			{% else %}
				<link rel="stylesheet" href={{"/css/"|append:style}}>
			{% endif %}	
		{% endfor %}
		{% endif %}
		{% if page.layout == "post" %}
			<link rel="stylesheet" href="/css/post.css">
		{% endif %}
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
</head>
<body>
<div class="backpage">
	<div class="wrap">
	
	{% include header.html %}
	<div class="content">
		{{ content }}
	</div>
	</div> 	
	{%include footer.html %}
</div>
</body>
</html>
